/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&family=Inter:wght@200;300;400;500;600;700&display=swap');

:root {
	--accent: #ff23bf;
	--border: #222;
}

html {
	background-image: url('/square-grid-pattern.png');
	background-repeat: repeat;
	background-size: 25px;
}

body {
	margin: auto;
	max-width: 78ch;
	padding: 20px 20px 0 20px;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	min-height: 70vh;
	margin-bottom: 50px;

	border: 1px solid var(--border);
	border-top: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}

body:before {
	content: ' ';
	background-color: #fff;

	height: calc(100% + 12px);
	margin: auto;
	position: absolute;

	z-index: -1;
	top: 0;
	left: -6px;
	right: -6px;
	bottom: 0;
	border: 2px solid var(--border);
	border-top: 0;
}

footer {
	margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-family: 'IBM Plex Serif', Inter, 'Trirong', 'ui-sans-serif', 'system-ui', 'sans-serif';
	font-weight: 600;
}

a {
	color: rgb(38, 38, 38);
	transition: color 0.1s;
	transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

a:hover {
	color: var(--accent);
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
	font-size: 16px;
}

pre {
	padding: 1rem;
	font-size: 16px;
}

pre>code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.undo-body-padding {
	margin-left: -20px;
	margin-right: -20px;
}