---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a href={href} class:list={[className, { active: isActive }, 'font-serif text-neutral-800']} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		font-weight: 600;
	}
</style>
