<div>มม.</div>
<style>
	div {
		width: 1.8em;
		height: 1.8em;
		font-size: 1em;
		border: 3px solid var(--accent);
		color: var(--accent);
		text-align: center;
		line-height: 1.8em;
		display: inline-block;
		background: #fff8af;
	}
</style>
