<div class="border-[3px] border-secondary text-secondary bg-primary">มม.</div>
<style>
	div {
		width: 1.8em;
		height: 1.8em;
		font-size: 1em;
		text-align: center;
		line-height: 1.5em;
		display: inline-block;
	}
</style>
